<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Files upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock nav %}

  {% block content %}
  <!-- Content block -->
  {% endblock content %}

  {% block footer %}
  <p></p>
  {% endblock footer %}

  <!-- Bootstrap JS -->
  <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
